<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">-->
        <button class="navbar-toggle collapsed" type="button" (click)="onCollapsedToggle()"  >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" style="cursor: pointer" class="navbar-brand js-scroll-trigger" > Recipe Book</a>
    </div>

    <div class="container-fluid navbar-collapse" [ngClass]="isCollapsed ? 'collapse' : ''"  appNavbar id="navbarResponsive">
      <ul class="nav navbar-nav" *ngIf="isAuthenticated()">
        <li routerLinkActive="active"><a routerLink="/recipes" (click)="onCollapsedToggle()" >Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list" (click)="onCollapsedToggle()"> Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated(); else unauth">
        <li><a routerLink="/signup" (click)="onCollapsedToggle()" >Register</a></li>
        <li><a routerLink="/signin" (click)="onCollapsedToggle()" >Login</a></li>
      </ul>
      <ng-template #unauth>
      <ul class="nav navbar-nav navbar-right" >
        <li><a style="cursor: pointer" (click)="onLogout()">Log Out</a></li>
        <li class="dropdown" appDropdown>
          <a  style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
            <li><a  style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
      </ng-template>
    </div>
  </div><!-- /.container-fluid -->
</nav>
