<div class="row">
  <div class="col-">
   <button class="btn btn-success"
   (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12" *ngIf="recipes.length > 0; else noRecipe">
    <app-recipe-item *ngFor="let recipeEl of recipes; let i = index"
                     [recipe]="recipeEl"
                     [index] = "i">
    </app-recipe-item>
  </div>
  <ng-template #noRecipe>
    <h3>
      Oops - No Recipe Present , Create one to Start !
    </h3>
  </ng-template>

</div>

